* {
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 43, 43);
}
/**************************
HEADER SECTION
**************************/

header {
  text-align: center;
}

header h1 {
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/**************************
MAIN SECTION
**************************/

main {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

button {
  outline: none;
  border-style: hidden;
  cursor: pointer;
}

#start_button {
  padding: 0.2em 1.3em;
  font-size: 2em;
  font-weight: 100;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(92, 205, 161);
}

#reset_button {
  padding: 0.2em 1em;
  font-size: 2em;
  font-weight: 100;
  margin-left: -1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(254, 127, 94);
}


/**************************
MESSAGE SECTION
**************************/

.message_section p {
  font-weight: 300;
  padding: 1em 0.3em;
  color: rgb(190, 190, 190);
}

/**************************
GAME SECTION
**************************/

.game_section {
  background-color: black;
  height: 19.5em;
  position: relative;
  border-radius: 10px;
}

.game_button {
  display: inline-block;
  position: relative;
  background: red;
  height: 9em;
  width: 47%;
  top: 2px;
  border-radius: 5px;
  margin-top: 4.5px;
  margin-left: 3px;
}

#button_green {
  background-color: rgb(10, 191, 98);
}

#button_red {
  background-color: rgb(236, 0, 57);
}

#button_yellow {
  background-color: rgb(217, 236, 0);
}
#button_blue {
  background-color: rgb(0, 179, 236);
}

/**************************
STATISTICS SECTION
**************************/

.round_number_section {
  margin-top: 0.5em;
  padding: 1em 0;
  text-align: left;
  font-size:1em;
  font-weight: 500;
  color: rgb(190, 251, 255);
}

.streak_number_section {
  padding: 1em 0;
  text-align: left;
  font-size:1em;
  font-weight: 500;
  color: rgb(190, 251, 255);
}
