* {
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 43, 43);
}
/**************************
HEADER SECTION
**************************/

header {
  text-align: center;
}

header h1 {
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/**************************
MAIN SECTION
**************************/

main {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

button {
  outline: none;
  border-style: hidden;
  cursor: pointer;
}

#start_button {
  padding: 0.2em 1.3em;
  font-size: 2em;
  font-weight: 100;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(92, 205, 161);
}

#reset_button {
  padding: 0.2em 1em;
  font-size: 2em;
  font-weight: 100;
  margin-left: -1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(254, 127, 94);
}


/**************************
MESSAGE SECTION
**************************/
.message_section {
  height: 3em;
}
.message_section p {
  font-weight: 300;
  color: rgb(190, 190, 190);
  padding-top: 0.5em;
  font-size: 1em;
}

/**************************
GAME SECTION
**************************/

.game_section {
  background-color: black;
  height: 19.5em;
  position: relative;
  border-radius: 10px;
  margin-top: 2em;
}

.game_button {
  display: inline-block;
  position: relative;
  background: red;
  height: 9em;
  width: 47%;
  top: 2.5px;
  margin-top: 4px;
  margin-left: 3px;
  opacity: 0.6;
  cursor: pointer;
}

/*.game_button:active {
  opacity: 1;
}*/

#green {
  background-color: rgb(10, 191, 98);
  border-top-left-radius: 5px;
}

#red {
  background-color: rgb(236, 0, 57);
  border-top-right-radius: 5px;
}

#yellow {
  background-color: rgb(234, 252, 20);
  border-bottom-right-radius: 5px;
}
#blue {
  background-color: rgb(0, 179, 236);
  border-bottom-left-radius: 5px;
}

/**************************
STATISTICS SECTION
**************************/
.message_section {
  height: 4em;
}

/**************************
MEDIA QUERIES
**************************/
@media (min-width: 500px) {
  .game_button {
    width: 48%;
  }
}

@media (min-width: 750px) {
  .game_button {
    width: 48.5%;
  }

@media (min-width: 950px) {
  .game_button {
    width: 49%;
  }
}
